/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #fff
}

.row {
  background-color: rgba(51, 51,51, 0.5);
}

.landing #landing-message {
  background-color: none;
}

#landing-jumbo {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/tech bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFD700;
}

#landing-message {
  display: flex;
  justify-content: center;
}

h1, h2, h3 {
  font-family: 'Montserrat'
}

body {
    background-image: url('../images/pcb bg.jpg');
/*    background-position: absolute;
*/    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-section {
/*  padding: 70px 50px;
*/}


#intro-section {
  height: 90vh;
  display: flex;
  align-items: center;

}


#profile-picture {
  background-image: url("../images/ice.jpg");
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

/*#intro-message {
  overflow: hidden;
}*/

#skill-section {
/*  height: 50vh
*/}


/*#skill-section .col-md-4 {
  display: flex;
  justify-content: center;
}*/

/*p ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}*/

.tech-group {
/*  height: 60vh;
*/  margin-top: 10px;
    text-align: center;
}

.tech-stack {
  height: 10vh;
  margin-top: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#html {
  background-image: url("../images/html.png");
}

#css {
  background-image: url(../images/css.png);
}
#js {
  background-image: url(../images/js.png);
}
#gitlab {
  background-image: url(../images/gitlab.png);
}
#google {
  background-image: url(../images/google.jpeg);
}

.sample-work {
  text-align: center;
}

table {
  table-layout: auto;
  width: 100%
}

td.external-links {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.external-links {
  background-color: #fff;
  border-radius: 5px;
}

#gmap {
  height: 30vh;
  width: 100%;
}

.button {
  display: flex;
  align-content: flex-end;
}

.col-md-6 .nav {
  width: 100%  
  display: flex;
  align-items: flex-end;
}

footer {
  background-color: gray;
  display: flex;
  /*brings the elements inside footer to the right-end*/
/*  justify-content: flex-end;
*/  margin-top: 20px;
  padding: 5px;
}

.footer-1 {
  display: flex;
  justify-content: center;
}

.footer-2 {
  display: flex;
  justify-content: center;
  
}

.footer-3 {
  display: flex;
  justify-content: flex-end;
}